/*
Please remember to add the following effects to the main application.

	<mx:Move duration="250" id="DockerMove"/>
	<mx:Fade duration="250" id="DockerFade"/>
*/
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace flexlib "http://code.google.com/p/flexlib/";

s|Application
{
	paddingBottom: 2;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	verticalGap: 0;
}

flexlib|Docker
{
	paddingLeft: 0;
	dockingAreaStyleName: "dockingArea";
	rowStyleName: "dockingRow";
}

flexlib|DockableToolBar
{
	addedEffect: "DockerFade";
	borderStyle: "outset";
	horizontalGap: 2;
	paddingBottom: 2;
	paddingLeft: 0;
	paddingRight: 8;
	paddingTop: 0;
	backgroundColor: #9199A4;
}	

.dockingArea
{
	horizontalScrollPolicy: "off";
	verticalGap: 0;
	borderStyle: "applicationControlBar";
	dropShadowEnabled: true;	
}

.dockingRow
{
	horizontalGap: 1;
	addedEffect: "DockerFade";
	removedEffect: "DockerFade";
}

mx|TitleWindow
{
	removedEffect: "DockerFade";
	moveEffect: "DockerMove";
	backgroundColor: #9199A4;
	borderAlpha: 1.0;
	borderStyle: "default";
	cornerRadius: 8;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	headerHeight: 20;
}